.bse-centered-div {
  display: flex;
  flex-direction: column; 
  align-items: center;   
}

.bse-search-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.bse-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.bse-logo {
  width: 30%;
  height: auto;
  margin-top: 50px;
}

.bse-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin: 5px 0;
}

.bse-search-button {
  background-color: #ba4233;
  color: white;
}

.bse-details {
  display: flex;
  align-items: center;
  background-color: #c6c6c6;
  height: 55px;
  width: 500px;
  margin: 6px 0px;
}

.bse-details-row {
  display: flex;
  align-items: center;
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor principal */
}

.bse-details-span {
  flex-grow: 1; 
  max-width: 493px; 
  margin-left: 7px;
}

.bse-details-button {
  height: 55px;
  width: 100px;
  cursor: pointer;
}
